* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html, body {
    width: 100%;
    height: 100%;
}

body {
   background-color: var(--bg-color);
    padding: 50px 10px;
}
header {
    width: calc(100% + 20px);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px 10px 0;
    background-color: var(--bg-color);
    border-bottom: solid 2px #fff;
}
header img {
    width: 100px;
}
header h1 {
    color: var(--primary);
    font-size: 30px;
    
}
main {
    height: 100%;
    overflow: scroll;
    padding: 120px 0 120px;
}
main section {
    display: none;
}
main section.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}
footer {
    flex-shrink: 0;
    width: calc(100% + 20px);
    height: 100px;
    background-color: var(--bg-color);
    position: fixed;
    bottom: 0;
    border-top: solid 2px #fff;
  }
  
  footer nav {
    height: 100%;
    display: flex;
  }
  
  footer nav a {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    text-align: center;
    text-decoration: none;
  }
  
  footer nav a * {
    transition: color var(--default-transition);
    font-size: 14px;
  }
  
  footer nav a.active *,
  footer nav a:hover * {
    color: var(--primary);
  }
  footer nav a.active .material-icons {
    opacity: 1;
  }
  
  footer nav a .material-icons {
    font-size: 2.5rem;
    opacity: 0.5;
  }
.weather-infos-container {
    width: 100%;
    background-color: var(--lighter-blue);
    -webkit-box-shadow: 5px 5px 17px 5px var(--light-grey); 
    box-shadow: 5px 5px 17px 5px var(--light-grey);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
}
.icon-container {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}
.icon-container .material-icons {
    width: 100%;
}
.infos-container {
    width: 60%;
}
.infos-container h2 {
    color: var(--primary);
    margin-bottom: -5px;
}
.playlist-container {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.playlist-img-wrapper {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.playlist-img-container {
    width: 50px;
    height: 50px;
    overflow: hidden;
}
.playlist-container img {
    width: 100%;
}
#img-1 {
    background-color: var(--blue);
}
#img-2 {
    background-color: var(--primary);
}
#img-3 {
    background-color: var(--gold);
}
#img-4 {
    background-color: var(--green);
}
.playlist-txt-container {
    padding-left: 20px;
    width: calc(100% - 100px);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.playlist-txt-container button {
    border-radius: 100%;
    width: 30px;
    height: 30px;
    border: none;
    background-color: var(--primary);
}
.playlist-txt-container .material-icons {
    color: #fff;
}
.playlist-txt-container button:hover {
    opacity: 0.7;
    cursor: pointer;
}
.playlist-txt-container h2 {
    width: 100%;
    color: var(--primary);
    font-size: 20px;
    width: 100%;
}
.preview-item-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.preview-item {
    width: 100%;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 10px;
    -webkit-box-shadow: 2px 2px 17px 2px var(--light-grey); 
    box-shadow: 2px 2px 17px 2px var(--light-grey);
}
.preview-item .album-img {
    width: 50px;
    height: 50px;
    background-color: var(--blue);
    overflow: hidden;
}
.preview-item .song-infos {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 10px;
}
.album-img img {
    width: 100%;
}
.preview-item h3 {
    font-size: 15px;
    margin-top: -2px;
    margin-bottom: -2px;
    color: var(--blue);
}
.change-mood-container {
    width: 100%;
    font-display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.range-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.range-container img {
    width: 40px;
    height: 40px;
}
.range-container input{
    width: calc(100% - 100px);
}
.changer-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.changer-button button {
    padding: 10px 20px;
    background-color: var(--primary);
    color: var(--bg-color);
    border: none;
    border-radius: 10px;
}
#player {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #fff;
    -webkit-box-shadow: 5px 5px 17px 5px var(--light-grey); 
    box-shadow: 5px 5px 17px 5px var(--light-grey);
    border-radius: 10px;
    padding: 20px 0;
}
#player-thumbnail {
    width: 200px;
    height: 200px;
    overflow: hidden;
}
#player-infos {
    width: 100%;
    padding: 0 40px;
}
#player-controls {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 40px;
}
#player-controls button {
    border-radius: 100%;
    width: 30px;
    height: 30px;
    border: none;
    background-color: var(--primary);
}
#player-controls .material-icons {
    color: #fff;
}
#player-controls button:hover {
    opacity: 0.7;
    cursor: pointer;
}
#player-progress {
    width: 100%;
    padding: 0 40px;
}
#player-progress input {
    width: 100%;
}
#player-times {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#player-infos-song-title {
    color: var(--primary);
    font-size: 20px;
}
#player-infos-artist-name {
    color: var(--grey);
}
.songs {
    margin-top: 40px;
}